* {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 16pt;
    transition: all 0.3s ease;
}

body {
    margin: 0;
    padding: 4em 0 0 0;
    box-sizing: border-box;
    background-color: beige;
}

.nav-bar {
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100vw;
    background-color: #ffffff;
    border-bottom: 1px solid gray;
   }

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    list-style: none;
    margin: 1rem;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 10px;
}

.menu li a:hover {
    background-color: gray;
    border-radius: 50%;
    color: wheat;
}

.side-bar-toggle {
    display: none;
}

footer {
    background-color: grey;
    margin-top: 3em;
    padding: 1.5em 0;
}

footer li {
    list-style: none;
    text-align: justify;
}

footer a {
    text-decoration: none;
    color: beige;
}

footer i {
    margin-right: 0.7em;
}

footer a:hover {
    color: tomato;
}

.fab.fa-facebook {
    color: #1877F2;
    position: relative;
}

.fab.fa-whatsapp {
    color: #25D366;
}

.fab.fa-twitter {
    color: #1DA1F2; 
}

.fab.fa-instagram {
    color: #E4405F; }

.fab.fa-github {
    color: #181717;
}

.fab.fa-linkedin {
    color: #0A66C2;
}

footer p {
    color: beige;
    text-align: right;
    padding-right: 1em;
}

footer p:hover {
    color: tomato;
}

