
.hero-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2em;
}

.hero-intro {
    font-weight: 700;
    color: #7b678d;
}

hr {
    width: 20%;
}

.hero-name {
    font-weight: 800;
    font-family: 'Playfair Display', sans-serif;
}

.hero-job {
    font-weight: 800;
    color: #7b678d;
}

.hero-contact {
    margin-top: 3em;
}

.hero-content i {
    color: #ffffff;
    background-color: #5cacee;
    padding: 5px;
    border-radius: 5px;
    margin-right: 1.5em;
}

.hero img{
    height: 500px;
    width: 500px;
}

.about {
    padding: 2em;
}

.about h3 {
    text-align: center;
    font-weight: 800;
}

.about .intro {
    font-size: 36px;
    word-spacing: 0px;
    font-weight: 800;
} 

.about .container {
    margin-top: 3em;
}

.about .desc {
    color: #7b678d;
    font-size: 24pt;
}

.read-more-btn {
    color: #5cacee;
    font-size: 18px;
    border: none;
    background-color: transparent;
}

.read-more-btn i {
    margin-left: 8px;
}

.read-more-btn a:hover {
    color: tomato;
    transform: scale(1.2);
}

.services {
    padding: 2em;
}

.services-intro .fa-arrow-right {
    font-size: 3em;
    text-align: right;
}

.services .fa-arrow-right:hover {
    transform: scale(1.2);
    color: tomato;
}

.arrow {
    display: flex;
    justify-content: flex-end;
}

.services-intro {
    margin-bottom: 2em;
    border-bottom: 1px solid gray;
}

.services h1 {
    text-align: center;
    margin-bottom: 1em;
}
 
.services a {
    text-align: right;
}

.services i {
    color: #5cacee;
    font-size: 24pt;
    margin-right: 8px;
}

.service {
    text-align: center;
    font-weight: 800
    ;
}

.first-service-row {
    margin-bottom: 2em;
}

.services a {
    text-decoration: none;
}

.portfolio h1 {
    text-align: center;
    font-weight: 800;
    margin-bottom: 2em;
}

.portfolio img {
    height: 400px;
    object-fit: contain;
    border-radius: 5px;
}

.portfolio .first-row {
    margin-bottom: 1em;
}
